<div class="container p-0">
    <div class="card">
        <div class="p-5">
            <form>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Log
                            In</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab"
                            tabindex="-1">Sign Up</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <fieldset>
                            <!-- <legend class="login__text-legend">Login</legend> -->
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <button type="submit" class="login__submit_btn btn btn-primary">Submit</button>
                        </fieldset>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel">
                        <fieldset>
                            <!-- <legend class="login__text-legend">Login</legend> -->
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="form-label mt-4">Confirm Password</label>
                                <input type="confirm password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="login__submit_btn btn btn-primary">Register</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>